h1 { color :plum;}
h2 { color :blueviolet}
.list-nav {
    list-style: none;
    display: flex;
    gap : 45px;
}
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo-nav {
            width: 120px;
            height: auto;
}
.tombol-pesan {
    display: inline-block;
    color :blanchedalmond;
    background-color: blue;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 50px;
}