* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
h1 { color :plum;}
h2 { color :blueviolet}
.list-nav a:hover {
    color: #8b4513;
}
.list-nav{
    display: flex;
    gap : 45px;
    list-style: none;
}
.list-nav a{
    text-decoration: none;
    color: #333333;
}
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo-nav {
            width: 120px;
            height: auto;
}
.tombol-pesan {
    display: inline-block;
    color :blanchedalmond;
    background-color: blue;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 50px;
}
#hero, #menu {
    padding: 35px 20px;
    background-color: aqua;
}