h1 { color :plum;}
h2 { color :blueviolet}
ul {
    list-style: none;
    display: flex;
    gap : 45px;
}
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo-nav {
            width: 120px;
            height: auto;
}